<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <button [routerLink]="'/user/0'" class="btn btn-outline-primary w-100" (click)="createItem()">
      <i class="fa fa-plus"></i>
    </button>
    
    <div class="container mb-3">
      <div class="row" id="searchRow">
          <div class="my-1 col-4 col-md-3 col-lg-2 d-flex align-items-center justify-content-end">
              <span class="h6 mb-0">Search:</span>
          </div>
          <div
              class="mb-2 mt-1 col-12 col-md-6 col-lg-4">
              <input id="search" class="form-control mr-sm-2" #filterName type="text" placeholder="Search"
                  (keyup)="onChangePhrase($event)" [value]="phrase">
          </div>
      </div>
  </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="changeOrder('id')">#</th>
          <th (click)="changeOrder('name')">Name</th>
          <th (click)="changeOrder('email')">Email</th>
          <th (click)="changeOrder('address')">Address</th>
          <th (click)="changeOrder('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:phrase:key | sorter:order">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info" (click)="updateItem(user)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger"  data-toggle="modal" (click)="subscribeForDelete(user)" data-target="#exampleModal">
                <i class="fa fa-trash"></i>
              </button>
<!--             
              <button class="btn btn-danger" (click)="deleteItem(user.id)">
                <i class="fa fa-trash"></i>
              </button>
 -->          
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
